.Home {
  width: 100%;
  height: calc(100vh - 60px);
  background: url("../../images/stars.svg");
  background-color: black;
  color: white;
}
.container {
  padding-top: 10vh;
}
.container .row {
  align-items: center;
}

.Hero img {
  width: 100%;
}
.Hero h2 {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 15px;
}
.Hero .btn {
  float: right;
  margin-right: 20px;
}

.Image img {
  width: 80%;
  margin-left: 20%;
}
